@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

$bg-dark: #0b0f14;
$bg-primary: #141922;
$accent: #2563eb;
$border-clr: #2a2f3a;


@mixin action-btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Geist';
  height: 100vh;
  background-color: $bg-primary;
  color: #e5e7eb;
}

nav {
  display: flex;
  padding: 10px;
  background-color: $bg-dark;
  height: 10vh;
  /*border: 1px solid red;*/
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-clr;

  h1 {
    font-size: 20px;
    font-weight: 400;
    
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
      padding: 5px;
      font-size: 15px;
      opacity: 0.7;
    }
  }
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*  border-bottom: 1px solid grey; */
  height: 35vh;
  
  label {
    /* text-align: left; */
    font-size: 15px;
    opacity: 0.9;
  }

  input {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: #1a1f2b;
    /*border: 1px solid ; */
    border: 1px solid #2e3140;
    color: #fff;

    &:hover {
      border: 1px solid #2e3140;

    }
  }

  button {
    margin-top: 10px;
    background-color: $accent;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;

    &:hover {
      background-color: #3b82f6;
    }
  }
}

.actions {
  display: flex;
  padding: 15px;
  /* border: 1px solid red; */
  height: 10vh;
  justify-content: space-between;
  border-top: 1px solid $border-clr;

  #export {
    @include action-btn;
    color: #60a5fa;
  }

  #clear {
    @include action-btn;
    color: #ef4444;
  }
}

#lead-list {
  background-color: $bg-dark;
  padding: 10px;
  
  p {
    color: #e5e7eb;
    border-bottom: 0.25px solid $border-clr;
    padding: 5px;

    span {
      opacity: 0.7;
    }
  }

}


