@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Geist';
  height: 100vh;
  background-color: #121212;
  color: #fff;
}

nav {
  display: flex;
  padding: 10px;
  background-color: #000;
  height: 10vh;
  /*border: 1px solid red;*/
  align-items: center;
  justify-content: space-between;


  h1 {
    font-size: 20px;
    font-weight: 400;
    
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
      padding: 10px;
      font-size: 15px;
      opacity: 0.7;
    }
  }
}
